{% extends 'staff_main.html' %}
{% load static %}

{% block content %}

    <div class="row">

        <div class="col-lg">
            <div class="box-element">

                <h3 align="center">Order Summary</h3>
                <hr>
                <div align="center" class="box-element">
                    <div class="row">
                        <div class="content col-lg-4">
                            <p> Customer Name: <b> {{ customer.name }} </b></p>
                        </div>
                        <div class="content col-lg-4">
                            <p> Email: <b> {{ customer.email }} </b></p>
                        </div>
                        <div class="content col-lg-4">
                            <p> Phone No: <b> {{ customer.cell_no }} </b></p>
                        </div>
                        <div class="content col-lg-4">
                            <p> Address: <b> {{ customer.address }} </b></p>
                        </div>
                        <div class="content col-lg-4">
                            <p> Order Date: <b> {{ order.date_ordered.date }} </b></p>
                        </div>
                        <div class="content col-lg-4">
                            <p> Delivery Date: <b> {{ order.deliver_date }} </b></p>
                        </div>
                    </div>

                </div>

                <hr>
                <div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:2"><strong>Item</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Quantity</strong></div>
					<div style="flex:1"><strong>Total</strong></div>
				</div>
                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:2"><img class="row-image" src="{{ item.product.imageURL }}"></div>
                    <div style="flex:2"><p> {{ item.product.name }} </p></div>
                    <div style="flex:1"><p> ${{ item.product.price }} </p></div>
                    <div style="flex:1"><p> x{{ item.quantity }} </p></div>
                    <div style="flex:1"><p> ${{item.get_total|floatformat:2}} </p></div>
                </div>
                {% endfor %}
                <h5 align="right"> Items:   {{ order.get_cart_items }} </h5>
                <h5 align="right"> Total:   ${{ order.get_cart_total|floatformat:2 }} </h5>

                <div class="cart-row ">
                    <div align= 'left' class="col-lg-6 ">
                        <button id="make-payment" class="btn btn-sm btn-success"> Confirm </button>
                    </div>
                    <div align = 'right' class="col-lg-6 ">
                        <a  class="btn btn-sm btn-primary" href="{% url 'invoice' customer.id %}"> Print </a>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <br><br>

    <script type="text/javascript">

        var total = '{{ order.get_cart_total }}'
        var pk = '{{ customer.id }}'

        document.getElementById('make-payment').addEventListener('click', function(e){
            submitFormData()
        })

        function submitFormData() {
            console.log('Payment Done')

            var url = '/staff/process_order/'
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({'total': total, 'pk': pk,})
            })

            .then((response) => response.json())
            .then((data) => {
                console.log('Success:', data);
                alert('Transaction Completed');
                window.location.href = "{% url 'staff_home' %}"
            })
        }
    </script>

{% endblock content %}